
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: "Shabnam FD", sans-serif;
    color: #202020;
    background-color: #fafafa;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}