/* Project Overlay
  ============================================ */
.project-overlay {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 4px 11px;
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 85px;
    border-radius: 3px;
    background-color: white;
}

@media (max-width: 900px) {
    .project-overlay {
        width: 200px;
        right: 0;
    }
}

.project-overlay__list li {
    list-style-type: none;
    display: flex;
    line-height: 18px;
    color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    list-style-type: none;
    border-bottom: 1px solid #f0f0f0;
    padding-left: 10px;
    cursor: pointer;
    padding: 0;
}

.project-overlay__list li:hover {
    background-color: #f9f9f9;
}

.project-overlay__list li div:nth-child(1) {
    width: 100%;
    padding: 10px;
}