/* Tasks
  ============================================ */
.tasks {
    width: 656px;
    background-color: white;
    border-right: 1px solid #f1f1f1;
    min-height: calc(100vh);
    vertical-align: top;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 80px;
    padding-bottom: 84px;
}

@media (max-width: 900px) {
    .tasks {
        margin-left: 0;
        width: auto;
    }
}

.tasks h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 0 30px 20px 0;
}

.tasks .add-task {
    margin-top: 20px;
}

.tasks__list li {
    display: flex;
    line-height: 18px;
    color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    list-style-type: none;
    border-bottom: 1px solid #f0f0f0;
}

.tasks__list li .checkbox-holder {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 16px;
}

.tasks__list li .checkbox-holder .checkbox {
    cursor: pointer;
    border-color: gray;
    color: #343434;
    height: 16px;
    width: 16px;
    display: block;
    border: 1px solid gray;
    border-radius: 16px;
}

/* Add Task
  ============================================ */
.add-task__overlay {
    background: rgba(102, 102, 102, 0.5);
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    transition: opacity 0.2s ease-in;
    height: calc(100vh);
}

.add-task__overlay .add-task__main {
    overflow: visible;
    margin-bottom: 20px;
    margin-top: 55px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 20px 30px;
    transform: translate(-50%, -50%);
}

@media (max-width: 900px) {
    .add-task__overlay .add-task__main {
        width: 90%;
    }
}

.add-task__overlay .add-task__main .header {
    font-size: 13px;
    margin-bottom: 20px;
    float: left;
}

.add-task__overlay .add-task__cancel-x {
    cursor: pointer;
    color: gray;
    float: right;
    font-weight: bold;
    font-size: 12px;
    margin-top: 10px;
}

.add-task__main {
    position: relative;
}

.add-task__project, .add-task__date {
    cursor: pointer;
    float: right;
    color: gray;
    margin: 20px 10px;
}

.add-task__project {
    margin-right: 0;
}

.add-task__content {
    width: 100%;
    border: 1px solid #ddd;
    background-color: white !important;
    border-radius: 3px;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
}

.add-task__cancel, .add-task__submit {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.add-task__cancel {
    color: #555;
    cursor: pointer;
    font-size: 14px;
    margin: 2px 5px;
}

.add-task__submit {
    width: 90px;
    background-color: #db4c3f;
    color: #fff !important;
    border: 1px solid transparent;
    margin-right: 5px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 13px !important;
    line-height: 17px;
    padding: 6px 12px 7px 12px;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    border-radius: 3px !important;
    text-decoration: none !important;
    text-align: center;
    cursor: pointer;
}

.add-task__shallow, .add-project {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.add-task__plus, .add-project__plus {
    color: #dd4b39;
    font-size: 18px;
}

.add-task__text, .add-project__text {
    display: inline-block;
    color: #545454;
    font-size: 14px;
    margin-left: 15px;
}

/* Task Date
  ============================================ */
.task-date {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 4px 11px;
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 85px;
    border-radius: 3px;
    background-color: #fff;
    width: 200px;
    right: 0;
}

.task-date__list li {
    list-style-type: none;
    display: flex;
    line-height: 18px;
    color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    list-style-type: none;
    border-bottom: 1px solid #f0f0f0;
    padding-left: 10px;
    cursor: pointer;
    padding: 0;
}

.task-date__list li:hover {
    background-color: #f9f9f9;
}

.task-date__list li div:nth-child(1) {
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}

.task-date__list li div:nth-child(1) span:first-of-type {
    margin-right: 10px;
}

.task-date__list li div:nth-child(1) span:first-of-type svg {
    fill: grey;
}
